/*
li a {
    color: green;
}

body {
    background: white url("images/background.png") no-repeat;
}
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

h1 {
    color: #444;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.choice > div {
    flex: 1;
}

.poll-option-image {
    width: 200px;
    height: auto;
}

.result-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    list-style-type: none;
}

a {
    color: #009688;
    text-decoration: none;
}

.choice-without-image {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
